/* Обшие стили */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color:#00204A;
    --bg-secondaty:#f4d059;
    --text-color:#00204A;
}

html, body {
    height: 100%;
    font-family: 'Lato';
}

a{
    text-decoration: underline;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto; /* flex-grow (сколько свободного пространства)  flex-shrink(фактор сжатия   flex basis(задает базовый размер)*/
}

/* header */

header {
    height: 41px;
}

.header-block-left, 
.header-block-right{
    height: 41px;
}

.header-logo{
    width: 96px;
    height: 25px;
}

.navbar-nav .nav-item{
    margin-right: 28px;
}

.navbar-toggler-icon {
    border: none;
    background: none;
    font-size: 23px;
    position: absolute;
    right: -27px;
    top: 3px;
}

.navbar-toggler-icon .fa-solid {
    color: #304a6c;
}

/* slider */

.slider-line{
    height: 28px;
    line-height: 28px;
    background-color: var(--bg-secondaty) ;
    text-align: center;
    text-transform: uppercase;
}

.slider-content {
    padding: 0;
    margin-top: -1px;
}

.swiper {
    background-color: #f4d059;
    width: 100%;
    height: 212px;
  }

.swiper-button-next, 
.swiper-button-prev{
    width: 30px;
    height: 28px;
    background: #f4d059;
    right: 0;
}

.swiper-button-next:after, 
.swiper-rtl {
    content: 'next';
    font-size: 8px;
    font-weight: 600;
    color: black;
}

.swiper-button-prev:after, .swiper-button-prev{
    content: 'prev';
    font-size: 8px;
    font-weight: 600;
    color: black;
    left: 0; 
}

.slider-description{
 background-color: var(--bg-color);
 height: 114px;
 color: #fff;   
}

.slider-description div {
    width: 330px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    margin-right: 13px;
}

/* main */

.main .container-fluid{
    padding-left: 8px;
}

.main h2 {
    font-size: 26px;
    margin-top: 24px;
    font-weight: 300;
    line-height: 45px;
    height: 45px;
    color: var(--text-color);
}

.main-btns button {
    height: 46px;
    width: 146px;
    border: none;
    background: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 30.3px;
    text-align: center;
}

.main-btns button:nth-child(1){
    margin-left: 2px;
    background: var(--bg-secondaty);
    margin-right: 7.5px;
}

.main-btns button:nth-child(2){
    border: 1px solid var(--bg-secondaty);
    border-right: 9px solid var(--bg-secondaty);
}

.main-catalogRoom h4, 
.main-catalogSalon h4,
.main-catalogWorkspace h4 {
    height: 44px;
    line-height: 40px;
    font-weight: 300;
    font-size: 20px;
    margin-top: 5px;
    color: var(--text-color);
    margin-bottom: 0;
}

.main-catalogRoom span, 
.main-catalogSalon span,
.main-catalogWorkspace span {
    font-weight: 300;
}

.main-catalogRoom, 
.main-catalogSalon,
.main-catalogWorkspace{
    margin-bottom: 40px;
} 

/* interior-design */
.container-fluidImg-bg{
    width: 317px;
}

.interior-desigImg {
    width: 326px;
    height: 256px;
    top: 22px;
    left: 37px;
}

.interior-designContent {
    background-color: var(--bg-color);
    padding: 0;
    width: 93.5%;
    margin: auto;
}

.interior-designContent-Title{
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    line-height: 28.4px;
    width: 273px;
    padding-top: 108px;
    margin: auto;
    margin-bottom: 17px;
}

.interior-designContent-paragraph{
    width: 273px;
    height: 58px;
    margin: auto;
    color:#ffffff82;
    font-size: 14px;
    line-height: 19.2px;
    font-weight: 275;
}

.interior-designBtn{
    background-color: var(--bg-color);
    padding: 0;
    width: 93.5%;
    margin: auto;
    padding-top: 37px;
}

.interior-designBtn div {
    width: 155px;
    height: 52px;
    background-color: var(--bg-secondaty);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 52px;
}

/* characteristics */
.characteristics-title{
    padding-top: 48px;
    margin-bottom: 45px;
    font-size: 26px;
    font-weight: 300;
    color: var(--text-color);
}

.characteristics-description > div:nth-child(1){
    margin-right: 20px;
}

.characteristics-description > div:nth-child(2) div {
    color: var(--text-color);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.characteristics-description > div:nth-child(2) p {
    margin-top: 13px;
    font-size: 14px;
    line-height: 22.48px;
    font-weight: 300;
    font-style: normal;
    max-width: 210px;

}

/* Catalog */
.catalog{
    margin-top: 50px;
}
.catalog-description{
    width: 355.43px;
    height: 543px;
    border-radius: 4px;
    border: 1px solid #F5F5F5;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), url(<path-to-image>), lightgray 0px -51.365px / 100% 126.064% no-repeat;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-bottom: 93px;
}

.catalog-descriptionTitle{
    font-weight: 300;
    font-size: 26px;
    width: 325px;

    margin: 24px auto;
}

.catalog-descriptionImg img:nth-child(2){
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    top: 143px;
}

.catalog-description p {
    width: 312.32px;
    height: 45px;
    margin: auto;
    margin-bottom: 24px;
    color: var(--text-color);
    font-weight: 300;
    text-align: center;
}

.catalog-descriptionImg > img:nth-child(1) {
    min-width: 338px;
    margin: auto;
    display: inherit; 
}

.catalog-descriptionBtn {
    height: 52.22px;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 30.286px;
    background-color: var(--text-color);
    width: 155px;
    left: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

/* headline */

.headline {
    margin-top: 45px;
}

.headline-title{
    color: var(--text-color);
   line-height: 45px; 
   font-size: 36px;
   font-weight: 300;
}

.headline-content p:nth-child(1) {
    font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 45px; 
}