/* Обшие стили */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color:#00204A;
    --bg-secondaty:#f4d059;
    --text-color:#00204A;
}

html, body {
    height: 100%
}

/* body{
    min-width: 320px;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
} */

a{
    text-decoration: underline;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto; /* flex-grow (сколько свободного пространства)  flex-shrink(фактор сжатия   flex basis(задает базовый размер)*/
}

/* header */

header {
    height: 41px;
}

.header-block-left, 
.header-block-right{
    height: 41px;
}

.header-logo{
    width: 96px;
    height: 25px;
}


.navbar-nav .nav-item{
    margin-right: 28px;
}

.swiper {
    background-color: #f4d059;
    width: 75%;
    height: 300px;
  }

.navbar-toggler-icon {
    border: none;
    background: none;
    font-size: 23px;
    position: absolute;
    right: -27px;
    top: 3px;
}

.navbar-toggler-icon .fa-solid {
    color: #304a6c;
}

/* slider */

.slider-line{
    height: 28px;
    line-height: 28px;
    background-color: var(--bg-secondaty) ;
    text-align: center;
    text-transform: uppercase;
}