/* Обшие стили */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color:#00204A;
    --bg-secondaty:#f4d059;
    --text-color:#00204A;
}

html, body {
    height: 100%;
    font-family: 'Lato';
}

a{
    text-decoration: underline;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto; /* flex-grow (сколько свободного пространства)  flex-shrink(фактор сжатия   flex basis(задает базовый размер)*/
}

/* header */

header {
    height: 41px;
}

.header-block-left, 
.header-block-right{
    height: 41px;
}

.header-logo{
    width: 96px;
    height: 25px;
}

.navbar-nav .nav-item{
    margin-right: 28px;
}

.navbar-toggler-icon {
    border: none;
    background: none;
    font-size: 23px;
    position: absolute;
    right: -27px;
    top: 3px;
}

.navbar-toggler-icon .fa-solid {
    color: #304a6c;
}

/* slider */

.slider-line{
    height: 28px;
    line-height: 28px;
    background-color: var(--bg-secondaty) ;
    text-align: center;
    text-transform: uppercase;
}

.slider-content {
    padding: 0;
    margin-top: -1px;
}

.swiper {
    background-color: #f4d059;
    width: 100%;
    height: 212px;
  }

.swiper-button-next, 
.swiper-button-prev{
    width: 30px;
    height: 28px;
    background: #f4d059;
    right: 0;
}

.swiper-button-next:after, 
.swiper-rtl {
    content: 'next';
    font-size: 8px;
    font-weight: 600;
    color: black;
}

.swiper-button-prev:after, .swiper-button-prev{
    content: 'prev';
    font-size: 8px;
    font-weight: 600;
    color: black;
    left: 0; 
}

.slider-description{
 background-color: var(--bg-color);
 height: 114px;
 color: #fff;   
}

.slider-description div {
    width: 330px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    margin-right: 13px;
}

/* main */

.main .container-fluid{
    padding-left: 8px;
}

.main h2 {
    font-size: 26px;
    margin-top: 24px;
    font-weight: 300;
    line-height: 45px;
    height: 45px;
    color: var(--text-color);
}

.main-btns button {
    height: 46px;
    width: 146px;
    border: none;
    background: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 30.3px;
    text-align: center;
}

.main-btns button:nth-child(1){
    margin-left: 2px;
    background: var(--bg-secondaty);
    margin-right: 7.5px;
}

.main-btns button:nth-child(2){
    border: 1px solid var(--bg-secondaty);
    border-right: 9px solid var(--bg-secondaty);
}

.main-catalogRoom h4, 
.main-catalogSalon h4,
.main-catalogWorkspace h4 {
    height: 44px;
    line-height: 40px;
    font-weight: 300;
    font-size: 20px;
    margin-top: 5px;
    color: var(--text-color);
    margin-bottom: 0;
}

.main-catalogRoom span, 
.main-catalogSalon span,
.main-catalogWorkspace span {
    font-weight: 300;
}

.main-catalogRoom, 
.main-catalogSalon,
.main-catalogWorkspace{
    margin-bottom: 40px;
} 

/* interior-design */
.container-fluidImg-bg{
    width: 317px;
}

.interior-desigImg {
    width: 326px;
    height: 256px;
    top: 22px;
    left: 37px;
}

.interior-designContent {
    background-color: var(--bg-color);
    padding: 0;
    width: 93.5%;
    margin: auto;
}

.interior-designContent-Title{
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    line-height: 28.4px;
    width: 273px;
    padding-top: 108px;
    margin: auto;
    margin-bottom: 17px;
}

.interior-designContent-paragraph{
    width: 273px;
    height: 58px;
    margin: auto;
    color:#ffffff82;
    font-size: 14px;
    line-height: 19.2px;
    font-weight: 275;
}

.interior-designBtn{
    background-color: var(--bg-color);
    padding: 0;
    width: 93.5%;
    margin: auto;
    padding-top: 37px;
}

.interior-designBtn div {
    width: 155px;
    height: 52px;
    background-color: var(--bg-secondaty);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 52px;
}

/* characteristics */
.characteristics-title{
    padding-top: 48px;
    margin-bottom: 45px;
    font-size: 26px;
    font-weight: 300;
    color: var(--text-color);
}

/* .a{
    background-color: red;
}

.b{
    background-color: blue;
}

.c{
    background-color: green;
}

.d{
    background-color: #f4d059;
} */